@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  background-color: #16164f;
  color: #fff;
  /* overflow-x: hidden; */
}
.line{
  width: 100%;
  outline: none;
  border: 0.3px solid #fff;
  padding: 0 60px;
}
